CTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="main">
		<div class="top-section">
			<img src="/images/profile2.jpeg" class="profile" />
			<p class="p1">Sebastián <span>Julio</span></p>
			<p class="p2">19 Años De Edad</p>
		</div>
		<div class="clearfix"></div>

		<div class="col-div-4">
			<div class="content-box" style="padding-left: 40px;">

				
			<p class="head">Contactame</p>
			<p class="p3"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;+58 412-5324629</p>
			<p class="p3"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;&nbsp;Urb.Bosque Lindo,La victoria-Edo Aragua</p>
			

			<br/>
			<p class="head">Habilidades</p>			<p class="p3"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;sebastian107@gmail.com</p>

			<ul class="skills">
				<li><span>Windows Office</span></li>
				<li><span>Marketing Digital</span></li>
				<li><span>Redacción</span></li>
				<li><span>Atención al cliente</span></li>
				<li><span>Facturación e Inventario</span></li>
				<li><span>Publicidad</span></li>

			</ul>

			<br/>
			<p class="head">Fortalezas</p>
				<p class="p3">Cordial</p>
				<p class="p3">Organizado</p>
				<p class="p3">Responsable</p>
				<p class="p3">Comprometido</p>
				<p class="p3">Aprendisaje Rápido</p>

				

			<br/>
			<p class="head">Languaje</p>
			<p class="p3">Español</p>
			<p class="p3">Ingles (Medio)</p>
			</div>
		</div>
		<div class="line"></div>
		<div class="col-div-8">
			<div class="content-box">
			<p class="head">Sobre Mí</p>
			<p class="p3" style="font-size: 14px;">Soy una persona proactiva, comprometida y con habilidades para trabajar en equipo. Me considero una persona organizada y responsable, capaz de cumplir con los objetivos y metas establecidos. Además, tengo experiencia en atención al cliente y habilidades comunicativas que me permiten interactuar de manera efectiva con las personas. Soy una persona en constante aprendizaje y siempre estoy dispuesto a adquirir nuevos conocimientos para mejorar mi desempeño laboral.</p>
			<br/>
			<p class="head">EXPERIENCIA LABORAL</p>

			<p>Hacienda Santa Tesera (2023 - Actualmente)</p>
			<p class="p-4">
				Responsable de manejar transacciones en efectivo y tarjeta, atender a los clientes con amabilidad y resolver cualquier problema o duda que pudieran tener. También encargado de mantener el área de caja limpia y ordenada, así como de realizar arqueos y cuadres diarios.			<p>Julio M 2012 C.A (2022)</p>
			<p class="p-4">
 Encargado de recibir a los clientes, mostrarles los productos disponibles, responder sus preguntas y ayudarles a realizar sus compras. También colaboré en la organización del inventario y en la preparación del local para eventos especiales.			</p>

		
			<br/>

			<p class="head">Educación</p>
			<p class="p-4" >U. E. P Colegio Santa Teresa, El Consejo Edo Aragua (2015 - 2020) <br> Titulo Obtenido: Bachiller En Ciencias</p>
		
			<p class="p-4" >UNERG ING. en Informática (Actualmente) <br> Estudiante Universitario, En La Univerdad Experimental Romulo Gallegos.</p>
			


			</div>
		</div>

		<div class="clearfix"></div>

	</div>
		<br/>
</body>
</html>